<div class="about-container">
  <h1 class="title">About</h1>
  <section class="description">
    <p class="description-main">
      This work is a laboratory work that we were assigned in the discipline of WebDev.
      Modules such as HTTP and Route were used on this site. as well as the Observables 
      technique. I can't say that it was easy to do this job, but despite this, I am 
      pleased with the result. <br>
      <a href="https://docs.google.com/document/d/114Wr4YzCYYtrNSrjApFQ2MJXCHdRTTvJCVLAlHstt8I/edit" target="_blank">Here</a> you can see the full requirements for this lab
    </p>
    <a href="https://docs.google.com/document/d/114Wr4YzCYYtrNSrjApFQ2MJXCHdRTTvJCVLAlHstt8I/edit" target="_blank">
      <img src="../../assets/link-lab.png" alt="link-photo" class="link-photo">
    </a>
  </section>
</div>
